body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header, footer {
  background: #808080;
  color: white;
  padding: 10px;
  clear: both;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.tagging {
  grid-column: 1 / span 1;
}

.discovery {
  grid-column: auto / span 3;
}

main .taglist {
  background: #0099FF;
  color: white;
}

a {
  color: #00B7FF;
}

ul {
  list-style-type: none;
}
